
*{
    font-family: 'PT Sans', sans-serif;

}
#header {
    height: 18vh; 
    background-color: white;
  }
.navbar-brand{
    background: none;

}
nav{
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: none;
    display: flex;
    box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.19);
    padding: 3vh;
    margin-bottom: 5px ;
    height: 15vh;
}
.logo{
    margin: 0 auto;
}
.name-site{  
    flex: 1;
    font-size: 50px;
    font-weight: 700;
    margin: 0;
    -webkit-background-clip: text;
    /* background-clip: text; */
    color:transparent;
    background-image: linear-gradient(.25turn,#b700ff 5%, #ff006f 10%, #4285F4 15% , #EA4335 20% ,#FBBC05 25%,#35ba21 30%,#34a8a8 35%, #5934a8 40%,#b700ff 45%, #ff006f 50%, #4285F4 55% , #EA4335 60% ,#FBBC05 65%,#35ba21 70%,#34a8a8 80%, #5934a8 92%  );
    animation: nameSite 3s  10 /*delay iteration-count direction fill-mode */;
}
#navbarSupportedContent > .navbar-nav{
    background: none;
}
#navbarSupportedContent > ul li{
    display: inline-block;
    padding: .5rem !important; 
    font-weight: bold;
}
a:link{
    text-decoration: none;
    color: black;
}
a:hover {
    text-decoration: underline;
}
a:hover {
    text-decoration:none;
}
nav button {
    background: none;
    padding: 7px;
    border: 0;
    outline: none;
}
nav button:hover{
    padding: 7px;
    background-color: white;
    border-radius: 50px;
}
section{
    margin-bottom: 5px;
    box-shadow: -1px 1px 9px 1px rgba(0, 0, 0, 0.19);
}
.carousel-black-section{
    margin-bottom: 2px;
    background-color: black !important;
}
.carousel{
    margin: 0 auto;
    width: 80vw !important; 
   
}

@keyframes nameSite {
    from {background-image: linear-gradient(.25turn,#b700ff 5%, #ff006f 10%, #4285F4 15% , #EA4335 20% ,#FBBC05 25%,#35ba21 30%,#34a8a8 35%, #5934a8 40%,#b700ff 45%, #ff006f 50%, #4285F4 55% , #EA4335 60% ,#FBBC05 65%,#35ba21 70%,#34a8a8 80%, #5934a8 92%  );}
    to {background-image: linear-gradient(.25turn,#34a8a8 5%,#5934a8  10%,  #b700ff 15% , #ff006f 20% ,#4285F4 25%,#EA4335 30%,#FBBC05 35%, #35ba21 40%,#34a8a8 45%, #5934a8 50%, #b700ff 55% , #ff006f 60% ,#4285F4 65%,#FBBC05 70%,#35ba21 80%, #34a8a8 92%  );}
    
  }
ul{ 
    flex: 2;
    display: inline-flex;
    margin: 0 auto;
    height: fit-content; 
    background-color: rgb(255, 255, 255);
    justify-items: center;
    align-items: center;
    justify-items: end;
    align-items: center;
    justify-content:baseline;
    
}
ul > button,input{
    background: none;
    border: 0;
    font-size:1.35rem;
    outline: none;
}
ul > input{
    padding: 0 1em;
}
.container img {
     width: 1em;
}
form{
    margin: 0 auto;
    padding: 1vh 5vh;
}
.infoCarousel{
    width: 90vw !important;
    margin: 0 auto;
    background-color: rgb(255, 255, 255) !important;
}
.infoCarousel-section {
    
}
.infoCarousel-section > picture {
    width: 10vw !important;
}
.container-fluid > h3{
    font-weight: bolder;
}
.peopleCarousel{
    width: 90vw !important;
    margin: 12px;
    padding: 0;
    font-size: small !important;
}
.card{
    width: 21rem;
    margin: 0 2rem;
}
.arrow{
    background: #fffefe00 !important;

}  
.arrow:hover {
    background: #cccccc09 !important;
    cursor: pointer;
}
 
/** People carousel*/
@media (min-width: 767px) {
    .carruselInner .categoriaItem > div {
        display: none !important;
        
    }
    .carruselInner .categoriaItem > div:first-child {
        display: block !important;
        
    }
}
.carruselInner .carousel-item.active,
.carruselInner .carousel-item-next,
.carruselInner .carousel-item-prev {
    display: flex !important; 
    transition: 0s;

}

@media (min-width: 768px) {
    .carruselInner .carousel-item-end.active,
    .carruselInner .carousel-item-next {
        transform: translateX(20%) !important;    
    }
    .carruselInner .carousel-item-start.active, 
    .carruselInner .carousel-item-prev {
        transform: translateX(-20%) !important;

    }
}
.carruselInner .carousel-item-end,
.carruselInner .carousel-item-start { 
    transform: translateX(0) !important;
}
@media (max-width: 576px) {
    nav {
        height: 18vh;
        }
        .navbar-brand,.name-site-container {
            width: 55vw;
            word-wrap: break-word !important;
        }
        #navbarSupportedContent > .navbar-nav{
            background: white;
        }
        .name-site-container > h1{
            font-size: 35px;
            
        }
        .arrow{
            width: 10px !important;
            padding: 0;
        }
        .infoCarousel-section, .infoCarousel, .infoCarousel-item{
            padding: 0   !important;
            margin: 0 !important;
        }
        .infoCarousel-item{
            width: 100vw !important;
            height: fit-content;
        }
        .container-fluid > p{
            font-weight:100;
            font-size: small;
            text-align: justify;
        }
        .card{
            width: 15rem;
            padding:0 2px !important;
            margin: 5px !important;
        }

    
}
 

